


.header__wrap {
    width: $headerWidthDeployed;
    min-width: $headerWidthDeployed;
    transition: width .3s linear, min-width .3s linear;
    height: 100%;   

    @media screen and(min-width: $md){
        &_convolute{
            width: $headerWidthConvolute;
            min-width: $headerWidthConvolute;
            transition: width .3s linear, min-width .3s linear;
        }
    }
  

    @media screen and(min-width: $xxl){
        width: $headerWidthDeployed;
        min-width: $headerWidthDeployed;
    }

    @media screen and(max-width: $md){
        width: 0;
        min-width: 0;
        &_openMobBurger{
            width: 106px;
            min-width: 106px;
        }
    }

}

header.header {
    width: $headerWidthDeployed;
    min-width: $headerWidthDeployed;
    padding: 0 28px;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    transition: width .3s linear, min-width .3s linear;

    @media screen and (max-height: 700px) {
        overflow-y: auto;
    }


 
    @media screen and(max-width: $xxl) {
        &_convolute {
            width: $headerWidthConvolute;
            min-width: $headerWidthConvolute;
            transition: width .3s linear, min-width .3s linear;
        }
    }

    @media screen and(max-width: $md){
        transform: translateX(-106px) !important;
        transition: all .3s linear !important;
        &_openMobBurger{
            transform: translateX(0px) !important;
            transition: all .3s linear !important;
        }
    }
    
    .cap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 36px 0;
    }

    .logo {
        width: 145px;
        &__hidden{
            width: 0;
            transition: width .3s linear;
        }
        
        @media screen and (min-width: 1400px) {
            width: 195px;
        }
    }
 
}