.nav {
    flex: 1 1 auto;
    padding-top: 10px;

    @media screen and(min-width:992px) and(max-width: $xxl) {
        li.nav__tooltip {
            position: relative;

            &:hover {
                &::after {
                    content: attr(data-tooltip);
                    position: absolute;
                    background-color: rgb(151, 151, 151);
                    border-radius: 8px;
                    padding: 7px 10px;
                    left: calc(100% + 10px);
                    top: 50%;
                    transform: translateY(-50%);
                    color: $white;
                }
            }

        }
    }

    &__link {
        display: flex;
        align-items: center;
        position: relative;
        color: $color-primary;
        width: 100%;
        padding: 13px;
        margin-bottom: 15px;
        overflow: hidden;
        border-radius: 8px;



        &:hover {
            background-color: #F9FBFF;
            transition: background-color .3s linear;
        }

        &_active {
            background: rgb(89, 50, 234);
            color: $white;

            &:hover {
                background: rgb(89, 50, 234);
            }
        }
    }

    &__text {
        transition: opacity .5s;

        @media screen and(max-width: $xxl) {
            &_hidden {
                opacity: 0;
                transition: opacity .5s;

            }
        }

    }

    &__icon {
        margin-right: 16px;
        color: $color-primary;
    }


    &__arrow {
        position: absolute;
        right: 10px;
        transition: opacity .3s .2s;
        
        @media screen and (max-width: $xxl) {
            &_hidden {
                opacity: 0;
                transition: opacity .3s;
            }
        }
     
    }


}