.search {
    display: flex;
    align-items: center;
    background: #F9FBFF;
    border-radius: 10px;
    margin-right: 53px;

    @media screen and(max-width: 580px) {
        margin: 15px 15px 0 15px;
    }

    &__btn {
        padding: 10px 3px 10px 10px;
        border-radius: 10px 0 0 10px;
        transition: .2s ease-in-out;

        &:hover {
            background-color: #d8dae7;
            padding: 10px 10px 10px 10px;
            border-radius: 10px;

            &+input {
                padding-left: 3px;
                transition: .2s ease-in-out;
            }
        }

        &:hover .search__icon {
            transform: rotate(80deg);
            transition: .1s linear;
        }


    }

    &__icon {
        transition: .1s linear;
    }


    input {
        background-color: inherit;
        color: #B5B7C0;
        padding: 10px;
        outline: none;
        transition: .2s ease-in-out;
    }
}