@import '1-Fonts/fonts';
@import '2-Elements/variables';
@import '2-Elements/base';
@import '3-Components/header';
@import '3-Components/burger';
@import '3-Components/navbar';
@import '3-Components/user';
@import '3-Components/search';
// @import '3-Components/pagination';
@import '4-Pages/customers';





// style body
html,
body {
    min-height: 100%;
}


body {
    background-color: $bg-primary;
    height: 100%;



    .text-400 {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.01em;
    }

    .text-500 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.01em;
    }

    @media screen and (max-width: $max-md) {
        .shadow-block {
            box-shadow: 0px 0px 60px rgba(226, 236, 249, 0.5);
            transition: box-shadow .3s linear;
        }
            
    }

    .wrap-content {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
    }


    .main {
        width: 100%;
        overflow: hidden;
        position: relative;
        padding: 128px 71px 41px 71px;
        overflow-y: auto;


       

            &__head-box {
                padding: 41px 71px 41px 71px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                background-color: $bg-primary;                

                @media screen and (max-width: $max-md) {
                    display: none;
                }
             

                .greeting {

                    font-family: 'Poppins';
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 36px;
                    color: $black;

                    @media screen and (max-width: $max-md) {
                        display: none;
                    }

                }

            }
        

        &__content {

            border: 1px solid #000;
        }

    }

}

table,
th,
td {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    background-image: none;
}


.wrap-1, .wrap-2 {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background: #999;
}
// .container-1, .container-2 {
//     background: none repeat scroll 0 0 #000;
//     height: 50px;
//     margin: -20px 0 0 20px;
//     position: absolute;
//     width: 50px;
// }

// // .container-1a{
// //     background: none repeat scroll 0 0 rgb(223, 86, 86);
// //     height: 50px;
// //     margin: 20px 0 0 20px;
// //     position: absolute;
// //     width: 50px; 
// // }
// .wrap-1 {
//     overflow: hidden;
//     border: 1px solid red;
// }