
@import '1-Fonts/fonts';
@import '2-Elements/variables';
@import '2-Elements/base';
@import '3-Components/header';
@import '3-Components/burger';
@import '3-Components/navbar';
@import '3-Components/user';
// @import '3-Components/search';
// @import '3-Components/pagination';
// @import '4-Pages/customers';





// style body
html,
body {
    min-height: 100%;
}


body {
    background-color: $bg-primary;
    height: 100%;

   

    .text-400 {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.01em;
    }
    
    .text-500 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.01em;
    }

    .shadow-block{
        box-shadow: 0px 0px 60px rgba(226, 236, 249, 0.5);
        transition: box-shadow .3s linear;
    }

    .wrap-content{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
    }


    .main {
        width: 100%;
        overflow: hidden;
        position: relative;
        padding: 128px 71px 41px 71px; 
        overflow-y: auto;


        &__header{
            padding: 41px 71px 41px 71px;
            position: fixed;
            top: 0;
            left: $headerMaxWidth;
            width: calc(100% - 463px);
            background-color: $bg-primary;

            .greeting {

                font-family: 'Poppins';
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                color: $black;
        
                @media screen and (max-width: $max-md) {
                    display: none;
                }
        
            }

        }

        &__content{

            border: 1px solid #000;
        }

    }

}

table,
th,
td {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    background-image: none;
}