// .burger__wrap{
//    padding: 10px 0 10px 10px;
//    @media screen and (min-width: $lg) and (max-width:$xxl) {
//       cursor: pointer;
//    }
// }

// .burger-mob__wrap{
//    margin-right: 40px;
//    padding: 25px 25px 25px 0;
//    @media screen and (min-width: 769px) {
//       display: none;
//    }
// }

// .burger__transform{
//    transform: translateX(-12px);
// }

@media screen and (max-width: $xxl) {

   .burger {
      padding: 10px;
      &__line {
         width: 25px;
         height: 2px;
         background-color: rgb(49, 49, 49);
         margin-bottom: 7px;

         &:last-child {
            margin-bottom: 0;
         }
      }

   }

}