

.header {
    width:$headerMaxWidth;
    min-width: $headerMaxWidth;
    display: flex;
    flex-direction: column;
    padding: 36px 0;
    background: $white;
    box-shadow: 0px 0px 60px rgba(226, 236, 249, 0.5);
    overflow-y: auto;
    @media screen and (min-width: $lg) {
       
    }

    &__element{
        padding: 0 31px;
        display: flex;
        justify-content: space-between;
    }
}