.nav {
    margin: 52px 0;
    padding: 0 28px;
    flex: 1 1 auto;


    @media screen and (max-width: $max-md) {
        padding: 0 20px;
        margin: 72px 0 20px;
    }

    &__item {
        margin-bottom: 15px;
     

        @media screen and (min-width: $min-md) and (max-width: $max-xxl){
            
            &.nav__tooltip:hover:after{
                content: attr(data-tooltip);
                position: absolute;
                transform: translate(60px, -42px);
                z-index: 100;
                color: $white;
                background-color: $color-secondary;
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -0.01em;
                border-radius: 8px;
                padding: 9px 12px;

            }         

        }

  

      

    }

    &__link {
        display: flex;
        align-items: center;
        padding: 10px 35px 10px 12px;
        color: $color-primary;
        position: relative;
        overflow: hidden;
        border-radius: 8px;


        &:hover {
            background-color: #F9FBFF;
            transition: background-color .3s linear;
        }

        &.active {
            background: rgb(89, 50, 234);
            color: $white;
        }

    }

    &__text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }


    &__icon {
        margin-right: 16px;
        line-height: 1;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);


        @media screen and (max-width: $max-xxl) {
            transition: opacity .2s linear;

            &_hide {
                opacity: 0;
            }
        }

    }

}

.header_active-touch .nav {

    &__arrow {
        display: none;
    }
}