.search {
    display: flex;
    align-items: center;
    background: #F9FBFF;
    border-radius: 10px;
    overflow: hidden;

    @media screen and (max-width: 580px) {
        margin: 15px 15px 0 15px;
    }

    &__btn {
        padding: 6px 3px 6px 10px;
        // transition: .2s ease-in-out;
        background-color: inherit;

        &:hover {
            // background-color: #d8dae7;
            // padding: 10px 10px 10px 10px;
            // border-radius: 10px;

            // &+input {
            //     padding-left: 3px;
            //     transition: .2s ease-in-out;
            // }
        }

        // &:hover .search__icon {
        //     transform: rotate(80deg);
        //     transition: .1s linear;
        // }


    }

    &__icon {
        transition: .1s linear;
    }


    input {
        background-color: inherit;
        color: #B5B7C0;
        padding: 9px;
        outline: none;
        transition: .2s ease-in-out;
    }
}