.user {
    padding: 0 28px;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    overflow: hidden;
    min-width: 42px;
    min-height: 42px;


    @media screen and (max-width: $max-md) {
        padding: 0 20px;
        margin: 0;
    }

    &__icon {
        width: 42px;
        min-width: 42px;
        height: 42px;
        min-height: 42px;
        margin-right: 12px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        transition: margin .3s;

        @media screen and (max-width: $max-xxl) {
            margin-left: 3px;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__text {
        min-width: 190px;
        transition: opacity .3s linear;

        @media screen and (max-width: $max-xxl) {
            &_hide {
                opacity: 0;
            }
        }
    }


    &__name {
        color: $black;
    }

    &__position {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #757575;
    }
}

.header_active-touch .user {

    .user__text {
        display: none;

    }

}