.user {
    padding: 0 28px ;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    overflow: hidden;
    min-width: 42px;
    min-height: 42px;
    width: 100%;

    @media screen and (max-width: $max-md) {
       padding: 0 20px;
    }

    &_center {
        // justify-content: center;
        //     margin: 0 4px;
        //     transition: margin .3s;
    }

    &__icon {
        width: 42px;
        min-width: 42px;
        height: 42px;
        min-height: 42px;
        margin-right: 12px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        transition: margin .3s;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__text {
        white-space: nowrap;
        border: 1px solid #000;

        @media screen and (min-width: $min-md) {
            transition: opacity .3s linear;            
        }
        &_hide{
            opacity: 0;
        }
    }

    &_center &__text{
        display: none;
    }

    &__name {
        color: $black;
    }

    &__position {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #757575;
    }
}

// .header_active .user__text_hide{
//     @media screen and (max-width: $max-md) {
//         opacity: 1;
//     }
// }