

$asideFullWidth: 306px;
$headerWidthConvolute: 106px;

$black: #000000;
$white: #ffffff;
// background
$bg-primary:#FAFBFF;

// color
$color-primary:#9197B3;
$color-secondary:#292D32;

$sm: 480px; 
$md: 768px;
$lg: 992px;
$xxl: 1400px;