

$headerMaxWidth: 306px;
$headerMinWidthDesctop: 106px;
$headerMinWidthMobile: 90px;

$black: #000000;
$white: #ffffff;
// background
$bg-primary:#FAFBFF;

// color
$color-primary:#9197B3;
$color-secondary:#292D32;

// sm
$max-sm: 576px;
$min-sm: 577px;
//md 
$max-md: 768px;
$min-md: 769px;
// lg
$max-lg: 992px;
$min-lg: 993px;
// xl
$max-xxl: 1400px;
$min-xxl: 1401px;